.jumbotron{
    background-color: black;
    color: white;
}
.button{
    background-color: gray ;
    color: white;
}

.footer{
    background-color: gray ;
    color: white;
    padding:  10px 10px 0 10px;  
    margin-bottom: 0px;
    margin-top: 10px;
}